.loginContainer {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181825;
  }
  
  .loginBox {
    background-color: #242424;
    padding: 2rem;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
  }
  
  
  .loginBox h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .loginBox label {
    font-weight: bold;
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
  }
  
  .loginBox input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .loginBox button {
    width: 100%;
    margin-top: 1.5rem;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 0.75rem;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .loginContainer {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181825;
}

.loginBox {
  background-color: #242424;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
